.header {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 10rem;
  width: 100%;
  align-items: center;
}

.title {
  font-size: 4rem;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: var(--color-text-primary);
  cursor: pointer;
}

.title::first-letter {
  color: var(--color-accent-main);
}

.title::after {
  content: 'y';
  color: var(--color-accent-main);
}

.leftContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
}
